In [1]:
%store -r overall_loc_scores

import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
commit = pd.read_csv('../../../../Library/CloudStorage/Box-Box/NSF IronHacks App 2016 - 2019/05 Experiments 2017/01 Hack Spring 2017/01 Summary Spring 2017/02 Data/processed-data/final_version_commit.csv')
commit

,Unnamed: 0.1,Unnamed: 0,commit-id,name,email_x,date,files,additions,deletions,email_name,Group,username,email_y,hack_id,dates,dates.1,phase
0,0,0,e174fca993401473e33731f57f7354a77cf66a11,AFelipeGA,afguerreroa@unal.edu.co,05/04/2017 23:38,1,2,11,afguerreroa,3,AFelipeGA,afguerreroa@unal.edu.co,3.0,05/04/2017,05/04/2017,2.0
1,1,1,30c53931ba6ccfea0034b927985f4b8fe354d6db,Felipe Guerrero,afguerreroa@unal.edu.co,06/04/2017 4:37,43,23533,0,afguerreroa,3,AFelipeGA,afguerreroa@unal.edu.co,3.0,06/04/2017,06/04/2017,2.0
2,2,2,d811a1832b23c6d8560ab3f4942fb34fd5c15ae9,Felipe Guerrero,afguerreroa@unal.edu.co,05/04/2017 23:33,30,0,1351,afguerreroa,3,AFelipeGA,afguerreroa@unal.edu.co,3.0,05/04/2017,05/04/2017,2.0
3,3,3,540c77dae0e8ce6d4a985bfb1d47fe634bc664ba,AFelipeGA,afguerreroa@unal.edu.co,30/03/2017 22:37,1,24,7,afguerreroa,3,AFelipeGA,afguerreroa@unal.edu.co,3.0,30/03/2017,30/03/2017,1.0
4,4,4,0a0bde5bb5780ea5fb7e55fcaf358a93c95523c6,Felipe Guerrero,afguerreroa@unal.edu.co,30/03/2017 22:12,12,636,66,afguerreroa,3,AFelipeGA,afguerreroa@unal.edu.co,3.0,30/03/2017,30/03/2017,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1573,1573,1578,b5103d9a1334f16901cf500ef4ce00ad4293f380,Yessica Chauta,ykchautai@unal.edu.co,11/04/2017 22:33,1,2,1,ykchautai,2,ykchautai,ykchautai@unal.edu.co,2.0,11/04/2017,11/04/2017,3.0
1574,1574,1579,49275b5057187fcd3e00c3fe35f846badb991ab6,Yessica Chauta,ykchautai@unal.edu.co,11/04/2017 22:26,6,50,5,ykchautai,2,ykchautai,ykchautai@unal.edu.co,2.0,11/04/2017,11/04/2017,3.0
1575,1575,1580,a0f1e06b64e8568e65208e17d4ee2777768fda0b,Yessica Chauta,ykchautai@unal.edu.co,05/04/2017 18:01,2,106,13,ykchautai,2,ykchautai,ykchautai@unal.edu.co,2.0,05/04/2017,05/04/2017,2.0
1576,1576,1581,b641122a34f2db327b3cf0c07e04f9c49b5cf9ac,Yessica Chauta,ykchautai@unal.edu.co,30/03/2017 22:41,1,46,1,ykchautai,2,ykchautai,ykchautai@unal.edu.co,2.0,30/03/2017,30/03/2017,1.0
1577,1577,1582,e679da444041a15c2c7ed367f8254e0539f8e245,Yessica Chauta,ykchautai@unal.edu.co,30/03/2017 21:32,8,101,2,ykchautai,2,ykchautai,ykchautai@unal.edu.co,2.0,30/03/2017,30/03/2017,1.0

In [3]:
df_remove = commit.dropna(subset=['phase'])
df_remove

,Unnamed: 0.1,Unnamed: 0,commit-id,name,email_x,date,files,additions,deletions,email_name,Group,username,email_y,hack_id,dates,dates.1,phase
0,0,0,e174fca993401473e33731f57f7354a77cf66a11,AFelipeGA,afguerreroa@unal.edu.co,05/04/2017 23:38,1,2,11,afguerreroa,3,AFelipeGA,afguerreroa@unal.edu.co,3.0,05/04/2017,05/04/2017,2.0
1,1,1,30c53931ba6ccfea0034b927985f4b8fe354d6db,Felipe Guerrero,afguerreroa@unal.edu.co,06/04/2017 4:37,43,23533,0,afguerreroa,3,AFelipeGA,afguerreroa@unal.edu.co,3.0,06/04/2017,06/04/2017,2.0
2,2,2,d811a1832b23c6d8560ab3f4942fb34fd5c15ae9,Felipe Guerrero,afguerreroa@unal.edu.co,05/04/2017 23:33,30,0,1351,afguerreroa,3,AFelipeGA,afguerreroa@unal.edu.co,3.0,05/04/2017,05/04/2017,2.0
3,3,3,540c77dae0e8ce6d4a985bfb1d47fe634bc664ba,AFelipeGA,afguerreroa@unal.edu.co,30/03/2017 22:37,1,24,7,afguerreroa,3,AFelipeGA,afguerreroa@unal.edu.co,3.0,30/03/2017,30/03/2017,1.0
4,4,4,0a0bde5bb5780ea5fb7e55fcaf358a93c95523c6,Felipe Guerrero,afguerreroa@unal.edu.co,30/03/2017 22:12,12,636,66,afguerreroa,3,AFelipeGA,afguerreroa@unal.edu.co,3.0,30/03/2017,30/03/2017,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1573,1573,1578,b5103d9a1334f16901cf500ef4ce00ad4293f380,Yessica Chauta,ykchautai@unal.edu.co,11/04/2017 22:33,1,2,1,ykchautai,2,ykchautai,ykchautai@unal.edu.co,2.0,11/04/2017,11/04/2017,3.0
1574,1574,1579,49275b5057187fcd3e00c3fe35f846badb991ab6,Yessica Chauta,ykchautai@unal.edu.co,11/04/2017 22:26,6,50,5,ykchautai,2,ykchautai,ykchautai@unal.edu.co,2.0,11/04/2017,11/04/2017,3.0
1575,1575,1580,a0f1e06b64e8568e65208e17d4ee2777768fda0b,Yessica Chauta,ykchautai@unal.edu.co,05/04/2017 18:01,2,106,13,ykchautai,2,ykchautai,ykchautai@unal.edu.co,2.0,05/04/2017,05/04/2017,2.0
1576,1576,1581,b641122a34f2db327b3cf0c07e04f9c49b5cf9ac,Yessica Chauta,ykchautai@unal.edu.co,30/03/2017 22:41,1,46,1,ykchautai,2,ykchautai,ykchautai@unal.edu.co,2.0,30/03/2017,30/03/2017,1.0
1577,1577,1582,e679da444041a15c2c7ed367f8254e0539f8e245,Yessica Chauta,ykchautai@unal.edu.co,30/03/2017 21:32,8,101,2,ykchautai,2,ykchautai,ykchautai@unal.edu.co,2.0,30/03/2017,30/03/2017,1.0

In [8]:
df_remove = df_remove.rename(columns={"username": "Student"})
df = pd.merge(overall_loc_scores, df_remove,  how='left', left_on=['Student','Group'], right_on = ['Student','Group'])
df[df['Group']]

,Student,Group,user-requirement-phase5,infovis-phase5,novelty-phase5,total-phase5,tech-phase5,tech-phase4,user-requirement-phase4,infovis-phase4,...,date,files,additions,deletions,email_name,email_y,hack_id,dates,dates.1,phase
0,fffeelipe,0.0,20.0,29.17,50.0,199.17,100.0,100.0,20.0,29.17,...,23/04/2017 23:50,6.0,168.0,78.0,lfepiar,lfepiar@unal.edu.co,0.0,23/04/2017,23/04/2017,5.0
1,fffeelipe,0.0,20.0,29.17,50.0,199.17,100.0,100.0,20.0,29.17,...,17/04/2017 21:19,2.0,4.0,1.0,lfepiar,lfepiar@unal.edu.co,0.0,17/04/2017,17/04/2017,4.0
2,fffeelipe,0.0,20.0,29.17,50.0,199.17,100.0,100.0,20.0,29.17,...,17/04/2017 20:11,22.0,604.0,149.0,lfepiar,lfepiar@unal.edu.co,0.0,17/04/2017,17/04/2017,4.0
3,fffeelipe,0.0,20.0,29.17,50.0,199.17,100.0,100.0,20.0,29.17,...,13/04/2017 23:28,5.0,281.0,295.0,lfepiar,lfepiar@unal.edu.co,0.0,13/04/2017,13/04/2017,4.0
4,fffeelipe,0.0,20.0,29.17,50.0,199.17,100.0,100.0,20.0,29.17,...,11/04/2017 23:56,6.0,324.0,80.0,lfepiar,lfepiar@unal.edu.co,0.0,11/04/2017,11/04/2017,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1517,jumcorredorro,3.0,100.0,62.50,75.0,325.00,87.5,87.5,80.0,58.33,...,30/03/2017 23:00,12.0,245.0,2.0,jumcorredorro,jumcorredorro@unal.edu.co,3.0,30/03/2017,30/03/2017,1.0
1518,feartheGru,3.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1519,Danielsv9207,3.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1520,JhonEmmanuelTorres,3.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1521,janoguerab,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df['Group'].isnull().sum()

1

In [ ]:
group3 = df[df['Group'] == 3]
group2 = df[df['Group'] == 2]
group1 = df[df['Group'] == 1]
group0 = df[df['Group'] == 0]

## Trial Lines Added

In [ ]:
df_median_group0 = []
df_mean_group0 = []
for i in range(1, 6):
    phase = group0[group0['phase'] == i]
    df_new = phase.groupby('username')['additions'].sum()
    plt.figure()
    plt.title("Distributions of Trial Lines Added for Bogota 0")
    sns.distplot(np.log(df_new+1))
    df_median_group0.append(df_new.median())
    df_mean_group0.append(df_new.mean())
print(df_median_group0)

In [ ]:
df_median_group3 = []
df_mean_group3 = []
for i in range(1, 6):
    phase = group3[group3['phase'] == i]
    df_new = phase.groupby('username')['additions'].sum()
    plt.figure()
    plt.title("Distributions of Trial Lines Added for Bogota 3")
    sns.distplot(np.log(df_new+1))
    df_median_group3.append(df_new.median())
    df_mean_group3.append(df_new.mean())
print(df_median_group3)

In [ ]:
df_median_group2 = []
df_mean_group2 = []
for i in range(1, 6):
    phase = group2[group2['phase'] == i]
    df_new = phase.groupby('username')['additions'].sum()
    plt.figure()
    plt.title("Distributions of Trial Lines Added for Bogota 2")
    sns.distplot(np.log(df_new+1))
    df_median_group2.append(df_new.median())
    df_mean_group2.append(df_new.mean())
print(df_median_group2)

In [ ]:
df_median_group1 = []
df_mean_group1 = []
for i in range(1, 6):
    phase = group1[group1['phase'] == i]
    df_new = phase.groupby('username')['additions'].sum()
    plt.figure()
    plt.title("Distributions of Trial Lines Added for Bogota 1")
    sns.distplot(np.log(df_new+1))
    df_median_group1.append(df_new.median())
    df_mean_group1.append(df_new.mean())
print(df_median_group1)

In [ ]:
import matplotlib.pyplot as plt

# Mean Scores of All Groups [ Tech Scores ]

y1 = df_median_group0
y2 = df_median_group1
y3 = df_median_group2
y4 = df_median_group3

x_axis=['Phase 1', 'Phase 2', 'Phase 3', 'Phase 4', 'Phase 5']

line1 = plt.plot(x_axis, y1,'bo-',label='Bogota 0 ( No Transparency )') 
line2 = plt.plot(x_axis, y2,'go-',label='Bogota 1 ( Performance Transparency )') 
line3 = plt.plot(x_axis, y3,'ko-',label='Bogota 2 ( Solution Transparency )')
line4 = plt.plot(x_axis, y4,'ro-',label='Bogota 3 ( Full Transparency )') 

plt.title("Median Trial Lines Added Per Individual")
plt.ylabel("Median trial Lines Added Per Individual")

plt.legend(bbox_to_anchor=(1.5, 1),
           bbox_transform=plt.gcf().transFigure)

In [ ]:
import matplotlib.pyplot as plt

# Mean Scores of All Groups [ Tech Scores ]

y1 = df_mean_group0
y2 = df_mean_group1
y3 = df_mean_group2
y4 = df_mean_group3

x_axis=['Phase 1', 'Phase 2', 'Phase 3', 'Phase 4', 'Phase 5']

line1 = plt.plot(x_axis, y1,'bo-',label='Bogota 0 ( No Transparency )') 
line2 = plt.plot(x_axis, y2,'go-',label='Bogota 1 ( Performance Transparency )') 
line3 = plt.plot(x_axis, y3,'ko-',label='Bogota 2 ( Solution Transparency )')
line4 = plt.plot(x_axis, y4,'ro-',label='Bogota 3 ( Full Transparency )') 

plt.title("Mean Trial Lines Added Per Individual")
plt.ylabel("Mean trial Lines Added Per Individual")
ymin, ymax = plt.ylim()
plt.ylim(ymin * 0.25, ymax * 0.25 )

plt.legend(bbox_to_anchor=(1.5, 1),
           bbox_transform=plt.gcf().transFigure)

## Trial Lines Deleted

In [ ]:
df_median_group0 = []
df_mean_group0 = []
for i in range(1, 6):
    phase = group0[group0['phase'] == i]
    df_new = phase.groupby('username')['deletions'].sum()
    plt.figure()
    plt.title("Distributions of Trial Lines Deleted for Bogota 0")
    sns.distplot(np.log(df_new+1))
    df_median_group0.append(df_new.median())
    df_mean_group0.append(df_new.mean())
print(df_median_group0)

In [ ]:
df_median_group3 = []
df_mean_group3 = []
for i in range(1, 6):
    phase = group3[group3['phase'] == i]
    df_new = phase.groupby('username')['deletions'].sum()
    plt.figure()
    plt.title("Distributions of Trial Lines Deleted for Bogota 3")
    sns.distplot(np.log(df_new+1))
    df_median_group3.append(df_new.median())
    df_mean_group3.append(df_new.mean())
print(df_median_group3)

In [ ]:
df_median_group2 = []
df_mean_group2 = []
for i in range(1, 6):
    phase = group2[group2['phase'] == i]
    df_new = phase.groupby('username')['deletions'].sum()
    plt.figure()
    plt.title("Distributions of Trial Lines Deleted for Bogota 2")
    sns.distplot(np.log(df_new+1))
    df_median_group2.append(df_new.median())
    df_mean_group2.append(df_new.mean())
print(df_median_group2)

In [ ]:
df_median_group1 = []
df_mean_group1 = []
for i in range(1, 6):
    phase = group1[group1['phase'] == i]
    df_new = phase.groupby('username')['deletions'].sum()
    plt.figure()
    plt.title("Distributions of Trial Lines Deleted for Bogota 1")
    sns.distplot(np.log(df_new+1))
    df_median_group1.append(df_new.median())
    df_mean_group1.append(df_new.mean())
print(df_median_group1)

In [ ]:
import matplotlib.pyplot as plt

# Mean Scores of All Groups [ Tech Scores ]

y1 = df_median_group0
y2 = df_median_group1
y3 = df_median_group2
y4 = df_median_group3

x_axis=['Phase 1', 'Phase 2', 'Phase 3', 'Phase 4', 'Phase 5']

line1 = plt.plot(x_axis, y1,'bo-',label='Bogota 0 ( No Transparency )') 
line2 = plt.plot(x_axis, y2,'go-',label='Bogota 1 ( Performance Transparency )') 
line3 = plt.plot(x_axis, y3,'ko-',label='Bogota 2 ( Solution Transparency )')
line4 = plt.plot(x_axis, y4,'ro-',label='Bogota 3 ( Full Transparency )') 

plt.title("Median Trial Lines Deleted Per Individual")
plt.ylabel("Median trial Lines Deleted Per Individual")

plt.legend(bbox_to_anchor=(1.5, 1),
           bbox_transform=plt.gcf().transFigure)

In [ ]:
import matplotlib.pyplot as plt

# Mean Scores of All Groups [ Tech Scores ]

y1 = df_mean_group0
y2 = df_mean_group1
y3 = df_mean_group2
y4 = df_mean_group3

x_axis=['Phase 1', 'Phase 2', 'Phase 3', 'Phase 4', 'Phase 5']

line1 = plt.plot(x_axis, y1,'bo-',label='Bogota 0 ( No Transparency )') 
line2 = plt.plot(x_axis, y2,'go-',label='Bogota 1 ( Performance Transparency )') 
line3 = plt.plot(x_axis, y3,'ko-',label='Bogota 2 ( Solution Transparency )')
line4 = plt.plot(x_axis, y4,'ro-',label='Bogota 3 ( Full Transparency )') 

plt.title("Median Trial Lines Deleted Per Individual")
plt.ylabel("Median trial Lines Deleted Per Individual")

plt.legend(bbox_to_anchor=(1.5, 1),
           bbox_transform=plt.gcf().transFigure)