# Functional Similarity

In [2]:
# retrive variables stored in other Jupyter notebooks

%store -r overall_loc_scores_final
%store -r overall_loc_scores

In [5]:
overall_loc_scores_final

,Student,Group,user-requirement-phase5,infovis-phase5,novelty-phase5,total-phase5,tech-phase5,tech-phase4,user-requirement-phase4,infovis-phase4,...,improve-effort-23,improve-effort-34,improve-effort-45,improve-effort-15,improve-effort-25,d3-effort-12,d3-effort-23,d3-effort-34,d3-effort-45,d3-effort-15
0,fffeelipe,0.0,20.0,29.17,50.00,199.17,100.0,100.0,20.0,29.17,...,0.0,-14.0,-6.0,-32.5,0.0,0.0,0.0,0.0,0.0,0.0
1,mnguzmanc,0.0,60.0,75.00,67.50,290.00,87.5,87.5,20.0,37.50,...,-16.5,45.5,13.0,-29.0,-21.0,0.0,0.0,0.0,0.0,0.0
2,jmcuestasb,0.0,100.0,54.17,25.00,254.17,75.0,62.5,100.0,58.33,...,1.5,9.0,-4.0,7.0,-12.0,0.0,0.0,0.0,0.0,0.0
3,katherinsb,0.0,20.0,37.50,16.67,136.67,62.5,37.5,20.0,45.83,...,0.0,0.0,73.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,jjrodriguezn,0.0,60.0,58.33,87.50,255.83,50.0,37.5,40.0,54.17,...,8.0,60.5,0.5,0.0,34.5,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,JhonEmmanuelTorres,3.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
164,janoguerab,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
165,djsanabriac,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
166,anmmunozme,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
167,li2266,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
from pathlib import Path
import pandas as pd

files = Path('../../../../bogota/spring2017-goldironhack-phase1/').glob('*')

phase1_functions = list()

for file in files:
    phase1_functions.append(file.read_text().replace('\n', ','))  # the file is opened and closed

phase1_functions = pd.DataFrame(phase1_functions, columns = ['functions'])
phase1_functions

                                             functions
0
1    FirstLook.css,bootstrap.min.css,jquery.min.js,...
2    materialize.min.css,materialize.min.js,.min.js...
3    jquery.min.js,styles.css,init.js,.container,li...
4    bootstrap.min.css,theme.min.css,aos.css,conten...
..                                                 ...
160  style.css,map.js,document.getElementById,googl...
161  style.css,scripts.js,document.getElementById,g...
162
163  document.getElementById,google.maps.Map,google...
164  eslint.org,module.exports,RULES.md,.vue,proces...

[165 rows x 1 columns]

In [36]:
from pathlib import Path


files = Path('../../../../bogota/spring2017-goldironhack-phase2/').glob('*')

phase2_functions = list()

for file in files:
    phase2_functions.append(file.read_text().replace('\n', ','))  # the file is opened and closed

phase2_functions = pd.DataFrame(phase2_functions, columns = ['functions'])
phase2_functions

                                             functions
0
1    FirstLook.css,bootstrap.min.css,jquery.min.js,...
2    materialize.css,materialize.js,materialize.min...
3    jquery.min.js,styles.css,init.js,test.js,.cont...
4    .ajax,.done,console.log,.fail,data.cityofchica...
..                                                 ...
160  house.ico,style.css,map.js,Chicago.jpg,documen...
161  style.css,.js,scripts.js,.ready,.click,.ajax,d...
162
163  document.getElementById,google.maps.Map,google...
164  materialize.min.css,style.css,awesome.min.css,...

[165 rows x 1 columns]

In [37]:
from pathlib import Path


files = Path('../../../../bogota/spring2017-goldironhack-phase3/').glob('*')

phase3_functions = list()

for file in files:
    phase3_functions.append(file.read_text().replace('\n', ','))  # the file is opened and closed
phase3_functions = pd.DataFrame(phase3_functions, columns = ['functions'])
phase3_functions

                                             functions
0
1    FirstLook.css,bootstrap.min.css,jquery.min.js,...
2    materialize.css,materialize.js,materialize.min...
3    jquery.min.js,styles.css,init.js,handler.js,se...
4    console.log,jQuery.parseJSON,.ajax,.done,.fail...
..                                                 ...
160  house.ico,style.css,.css,main.js,map.js,weathe...
161  style.css,.js,scripts.js,.ready,.click,.ajax,d...
162
163  document.getElementById,google.maps.Map,google...
164  materialize.min.css,style.css,awesome.min.css,...

[165 rows x 1 columns]

In [38]:
from pathlib import Path


files = Path('../../../../bogota/spring2017-goldironhack-phase4/').glob('*')

phase4_functions = list()

for file in files:
    phase4_functions.append(file.read_text().replace('\n', ','))  # the file is opened and closed
phase4_functions = pd.DataFrame(phase4_functions, columns = ['functions'])
phase4_functions

                                             functions
0
1    FirstLook.css,bootstrap.min.css,jquery.min.js,...
2    .ajax,data.cityofchicago.org,rows.json,.done,c...
3    up.net,shiv.js,main.css,.css,jquery.min.js,sty...
4    console.log,jQuery.parseJSON,.ajax,.done,.fail...
..                                                 ...
160  house.ico,style.css,.css,main.js,map.js,weathe...
161  style.css,bootstrap.min.css,.js,scripts.js,js....
162
163  document.getElementById,google.maps.Map,google...
164  materialize.min.css,style.css,awesome.min.css,...

[165 rows x 1 columns]

In [39]:
from pathlib import Path


files = Path('../../../../bogota/spring2017-goldironhack-phase5/').glob('*')

phase5_functions = list()

for file in files:
    phase5_functions.append(file.read_text().replace('\n', ','))  # the file is opened and closed
phase5_functions = pd.DataFrame(phase5_functions, columns = ['functions'])
phase5_functions

                                             functions
0
1    FirstLook.css,bootstrap.min.css,jquery.min.js,...
2    .ajax,data.cityofchicago.org,rows.json,.done,m...
3    up.net,shiv.js,main.css,.css,jquery.min.js,ini...
4    console.log,jQuery.parseJSON,.ajax,.done,.fail...
..                                                 ...
160  house.ico,style.css,.css,main.js,map.js,weathe...
161  style.css,bootstrap.min.css,.js,scripts.js,js....
162
163  document.getElementById,google.maps.Map,google...
164  materialize.min.css,style.css,awesome.min.css,...

[165 rows x 1 columns]

In [41]:
import glob 
import pandas as pd

phase1_name = glob.glob("../../../../bogota/spring2017-goldironhack-phase1/*")  # get all .csv files from the working dir
assert isinstance(phase1_name, list)
phase1_name = pd.DataFrame(phase1_name, columns = ['username'])
components = phase1_name.username.str[1:].str.split('-', expand = True)
phase1_name['Student'] = components[6]
phase1_name_drop = phase1_name.drop(['username'], axis=1)
phase1_name_drop

          Student
0          cap182
1       nfmorenog
2      falperezgo
3    lfvalderrama
4       xdanielsb
..            ...
160     mnguzmanc
161   Semoralesga
162   jhcardenasa
163        crigar
164     AFelipeGA

[165 rows x 1 columns]

In [46]:
import glob 
import pandas as pd

phase2_name = glob.glob("../../../../bogota/spring2017-goldironhack-phase2/*")  # get all .csv files from the working dir
assert isinstance(phase2_name, list)
phase2_name = pd.DataFrame(phase2_name, columns = ['username'])
components = phase2_name.username.str[1:].str.split('-', expand = True)
phase2_name['Student'] = components[6]
phase2_name_drop = phase2_name.drop(['username'], axis=1)
phase2_name_drop

          Student
0          cap182
1       nfmorenog
2      falperezgo
3    lfvalderrama
4       xdanielsb
..            ...
160     mnguzmanc
161   Semoralesga
162   jhcardenasa
163        crigar
164     AFelipeGA

[165 rows x 1 columns]

In [47]:
import glob 
import pandas as pd

phase3_name = glob.glob("../../../../bogota/spring2017-goldironhack-phase3/*")  # get all .csv files from the working dir
assert isinstance(phase1_name, list)
phase3_name = pd.DataFrame(phase3_name, columns = ['username'])
components = phase3_name.username.str[1:].str.split('-', expand = True)
phase3_name['Student'] = components[6]
phase3_name_drop = phase3_name.drop(['username'], axis=1)
phase3_name_drop

          Student
0          cap182
1       nfmorenog
2      falperezgo
3    lfvalderrama
4       xdanielsb
..            ...
160     mnguzmanc
161   Semoralesga
162   jhcardenasa
163        crigar
164     AFelipeGA

[165 rows x 1 columns]

In [48]:
import glob 
import pandas as pd

phase4_name = glob.glob("../../../../bogota/spring2017-goldironhack-phase4/*")  # get all .csv files from the working dir
assert isinstance(phase1_name, list)
phase4_name = pd.DataFrame(phase4_name, columns = ['username'])
components = phase4_name.username.str[1:].str.split('-', expand = True)
phase4_name['Student'] = components[6]
phase4_name_drop = phase4_name.drop(['username'], axis=1)
phase4_name_drop

          Student
0          cap182
1       nfmorenog
2      falperezgo
3    lfvalderrama
4       xdanielsb
..            ...
160     mnguzmanc
161   Semoralesga
162   jhcardenasa
163        crigar
164     AFelipeGA

[165 rows x 1 columns]

In [50]:
import glob 
import pandas as pd

phase5_name = glob.glob("../../../../bogota/spring2017-goldironhack-phase5/*")  # get all .csv files from the working dir
assert isinstance(phase1_name, list)
phase5_name = pd.DataFrame(phase5_name, columns = ['username'])
components = phase5_name.username.str[1:].str.split('-', expand = True)
phase5_name['Student'] = components[6]
phase5_name_drop = phase5_name.drop(['username'], axis=1)
phase5_name_drop

          Student
0          cap182
1       nfmorenog
2      falperezgo
3    lfvalderrama
4       xdanielsb
..            ...
160     mnguzmanc
161   Semoralesga
162   jhcardenasa
163        crigar
164     AFelipeGA

[165 rows x 1 columns]

## Functions Dataframe for Phase 1

In [51]:
phase1 = pd.concat([phase1_name_drop, phase1_functions], axis=1)

phase1

          Student                                          functions
0          cap182
1       nfmorenog  FirstLook.css,bootstrap.min.css,jquery.min.js,...
2      falperezgo  materialize.min.css,materialize.min.js,.min.js...
3    lfvalderrama  jquery.min.js,styles.css,init.js,.container,li...
4       xdanielsb  bootstrap.min.css,theme.min.css,aos.css,conten...
..            ...                                                ...
160     mnguzmanc  style.css,map.js,document.getElementById,googl...
161   Semoralesga  style.css,scripts.js,document.getElementById,g...
162   jhcardenasa
163        crigar  document.getElementById,google.maps.Map,google...
164     AFelipeGA  eslint.org,module.exports,RULES.md,.vue,proces...

[165 rows x 2 columns]

## Functions Dataframe for Phase 2

In [52]:
phase2 = pd.concat([phase2_name_drop, phase2_functions], axis=1)

phase2

          Student                                          functions
0          cap182
1       nfmorenog  FirstLook.css,bootstrap.min.css,jquery.min.js,...
2      falperezgo  materialize.css,materialize.js,materialize.min...
3    lfvalderrama  jquery.min.js,styles.css,init.js,test.js,.cont...
4       xdanielsb  .ajax,.done,console.log,.fail,data.cityofchica...
..            ...                                                ...
160     mnguzmanc  house.ico,style.css,map.js,Chicago.jpg,documen...
161   Semoralesga  style.css,.js,scripts.js,.ready,.click,.ajax,d...
162   jhcardenasa
163        crigar  document.getElementById,google.maps.Map,google...
164     AFelipeGA  materialize.min.css,style.css,awesome.min.css,...

[165 rows x 2 columns]

## Functions Dataframe for Phase 3

In [53]:
phase3 = pd.concat([phase3_name_drop, phase3_functions], axis=1)

phase3

          Student                                          functions
0          cap182
1       nfmorenog  FirstLook.css,bootstrap.min.css,jquery.min.js,...
2      falperezgo  materialize.css,materialize.js,materialize.min...
3    lfvalderrama  jquery.min.js,styles.css,init.js,handler.js,se...
4       xdanielsb  console.log,jQuery.parseJSON,.ajax,.done,.fail...
..            ...                                                ...
160     mnguzmanc  house.ico,style.css,.css,main.js,map.js,weathe...
161   Semoralesga  style.css,.js,scripts.js,.ready,.click,.ajax,d...
162   jhcardenasa
163        crigar  document.getElementById,google.maps.Map,google...
164     AFelipeGA  materialize.min.css,style.css,awesome.min.css,...

[165 rows x 2 columns]

## Functions Dataframe for Phase 4

In [54]:
phase4 = pd.concat([phase4_name_drop, phase4_functions], axis=1)

phase4

          Student                                          functions
0          cap182
1       nfmorenog  FirstLook.css,bootstrap.min.css,jquery.min.js,...
2      falperezgo  .ajax,data.cityofchicago.org,rows.json,.done,c...
3    lfvalderrama  up.net,shiv.js,main.css,.css,jquery.min.js,sty...
4       xdanielsb  console.log,jQuery.parseJSON,.ajax,.done,.fail...
..            ...                                                ...
160     mnguzmanc  house.ico,style.css,.css,main.js,map.js,weathe...
161   Semoralesga  style.css,bootstrap.min.css,.js,scripts.js,js....
162   jhcardenasa
163        crigar  document.getElementById,google.maps.Map,google...
164     AFelipeGA  materialize.min.css,style.css,awesome.min.css,...

[165 rows x 2 columns]

## Functions Dataframe for Phase 5

In [55]:
phase5 = pd.concat([phase5_name_drop, phase5_functions], axis=1)

phase5

          Student                                          functions
0          cap182
1       nfmorenog  FirstLook.css,bootstrap.min.css,jquery.min.js,...
2      falperezgo  .ajax,data.cityofchicago.org,rows.json,.done,m...
3    lfvalderrama  up.net,shiv.js,main.css,.css,jquery.min.js,ini...
4       xdanielsb  console.log,jQuery.parseJSON,.ajax,.done,.fail...
..            ...                                                ...
160     mnguzmanc  house.ico,style.css,.css,main.js,map.js,weathe...
161   Semoralesga  style.css,bootstrap.min.css,.js,scripts.js,js....
162   jhcardenasa
163        crigar  document.getElementById,google.maps.Map,google...
164     AFelipeGA  materialize.min.css,style.css,awesome.min.css,...

[165 rows x 2 columns]