In [1]:
# retrived variables from relational novelty

%store -r stage1_bogota0_high_similarity
%store -r stage1_bogota1_high_similarity
%store -r stage1_bogota2_high_similarity
%store -r stage1_bogota3_high_similarity

%store -r stage2_bogota0_high_similarity
%store -r stage2_bogota1_high_similarity
%store -r stage2_bogota2_high_similarity
%store -r stage2_bogota3_high_similarity

%store -r stage3_bogota0_high_similarity
%store -r stage3_bogota1_high_similarity
%store -r stage3_bogota2_high_similarity
%store -r stage3_bogota3_high_similarity

%store -r stage4_bogota0_high_similarity
%store -r stage4_bogota1_high_similarity
%store -r stage4_bogota2_high_similarity
%store -r stage4_bogota3_high_similarity

%store -r overall_survey
%store -r improve_scores

import pandas as pd

In [2]:
overall_survey.rename(columns={'Student': 'user2'}, inplace=True)
survey = overall_survey[['user2', 'Q7_Q7_1', 'Q7_Q7_2', 'Q8_Q8_1', 'Q10']]
survey = survey.dropna()
survey

                  user2  Q7_Q7_1  Q7_Q7_2  Q8_Q8_1  Q10
0             fffeelipe      1.0      0.0      5.0  3.0
1             mnguzmanc      2.0      1.0      3.0  2.0
2            jmcuestasb      1.0      3.0      4.0  2.0
3            katherinsb      1.0      2.0      4.0  2.0
4          jjrodriguezn      2.0      2.0      3.0  1.0
..                  ...      ...      ...      ...  ...
159          NicolasPrr      3.0      4.0      3.0  2.0
160       jumcorredorro      1.0      1.0      5.0  2.0
161          feartheGru      2.0      2.0      5.0  2.0
162        Danielsv9207      1.0      1.0      1.0  3.0
163  JhonEmmanuelTorres      5.0      4.0      5.0  2.0

[160 rows x 5 columns]

In [3]:
stage1_bogota0_high_similarity['similarity'] = 1 - stage1_bogota0_high_similarity['similarity']
stage2_bogota0_high_similarity['similarity'] = 1 - stage2_bogota0_high_similarity['similarity']
stage3_bogota0_high_similarity['similarity'] = 1 - stage3_bogota0_high_similarity['similarity']
stage4_bogota0_high_similarity['similarity'] = 1 - stage4_bogota0_high_similarity['similarity']

stage1_bogota1_high_similarity['similarity'] = 1 - stage1_bogota1_high_similarity['similarity']
stage2_bogota1_high_similarity['similarity'] = 1 - stage2_bogota1_high_similarity['similarity']
stage3_bogota1_high_similarity['similarity'] = 1 - stage3_bogota1_high_similarity['similarity']
stage4_bogota1_high_similarity['similarity'] = 1 - stage4_bogota1_high_similarity['similarity']

stage1_bogota2_high_similarity['similarity'] = 1 - stage1_bogota2_high_similarity['similarity']
stage2_bogota2_high_similarity['similarity'] = 1 - stage2_bogota2_high_similarity['similarity']
stage3_bogota2_high_similarity['similarity'] = 1 - stage3_bogota2_high_similarity['similarity']
stage4_bogota2_high_similarity['similarity'] = 1 - stage4_bogota2_high_similarity['similarity']

stage1_bogota3_high_similarity['similarity'] = 1 - stage1_bogota3_high_similarity['similarity']
stage2_bogota3_high_similarity['similarity'] = 1 - stage2_bogota3_high_similarity['similarity']
stage3_bogota3_high_similarity['similarity'] = 1 - stage3_bogota3_high_similarity['similarity']
stage4_bogota3_high_similarity['similarity'] = 1 - stage4_bogota3_high_similarity['similarity']

In [4]:
stage1_bogota0_high_similarity['stage'] = 1
stage2_bogota0_high_similarity['stage'] = 2
stage3_bogota0_high_similarity['stage'] = 3
stage4_bogota0_high_similarity['stage'] = 4

stage1_bogota0_high_similarity['group'] = 0
stage2_bogota0_high_similarity['group'] = 0
stage3_bogota0_high_similarity['group'] = 0
stage4_bogota0_high_similarity['group'] = 0

stage1_bogota1_high_similarity['stage'] = 1
stage2_bogota1_high_similarity['stage'] = 2
stage3_bogota1_high_similarity['stage'] = 3
stage4_bogota1_high_similarity['stage'] = 4

stage1_bogota1_high_similarity['group'] = 1
stage2_bogota1_high_similarity['group'] = 1
stage3_bogota1_high_similarity['group'] = 1
stage4_bogota1_high_similarity['group'] = 1

stage1_bogota2_high_similarity['stage'] = 1
stage2_bogota2_high_similarity['stage'] = 2
stage3_bogota2_high_similarity['stage'] = 3
stage4_bogota2_high_similarity['stage'] = 4

stage1_bogota2_high_similarity['group'] = 2
stage2_bogota2_high_similarity['group'] = 2
stage3_bogota2_high_similarity['group'] = 2
stage4_bogota2_high_similarity['group'] = 2

stage1_bogota3_high_similarity['stage'] = 1
stage2_bogota3_high_similarity['stage'] = 2
stage3_bogota3_high_similarity['stage'] = 3
stage4_bogota3_high_similarity['stage'] = 4

stage1_bogota3_high_similarity['group'] = 3
stage2_bogota3_high_similarity['group'] = 3
stage3_bogota3_high_similarity['group'] = 3
stage4_bogota3_high_similarity['group'] = 3

In [5]:
df = stage1_bogota0_high_similarity.append([stage2_bogota0_high_similarity, stage3_bogota0_high_similarity, 
                                       stage4_bogota0_high_similarity, stage1_bogota1_high_similarity, 
                                           stage2_bogota1_high_similarity, stage3_bogota1_high_similarity, 
                                           stage4_bogota1_high_similarity, stage1_bogota2_high_similarity, 
                                           stage2_bogota2_high_similarity, stage3_bogota2_high_similarity, 
                                           stage4_bogota2_high_similarity,  stage1_bogota3_high_similarity, 
                                           stage2_bogota3_high_similarity, stage3_bogota3_high_similarity, 
                                           stage4_bogota3_high_similarity], ignore_index = True)
df

,user1,user2,user1_phase,user2_phase,similarity,stage,group
0,juanescai,fffeelipe,1,2,0.000000,1,0
1,annipi,jdsolanos,1,2,0.000000,1,0
2,jdsolanos,annipi,1,2,0.000000,1,0
3,jdsolanos,jcneivaa,1,2,0.000000,1,0
4,katherinsb,juanescai,1,2,0.000000,1,0
...,...,...,...,...,...,...,...
614,lacardenasv,jorge52an,4,5,0.931937,4,3
615,NicolasPrr,capinzor,4,5,0.964725,4,3
616,juligarji,dduartec,4,5,0.969512,4,3
617,capinzor,juligarji,4,5,0.970410,4,3
618,jumcorredorro,mballeng91,4,5,0.985294,4,3

In [6]:
final = pd.merge(df, survey, how='left', left_on='user2', right_on ='user2')
final = final[final['Q7_Q7_1'].notna()]
final

,user1,user2,user1_phase,user2_phase,similarity,stage,group,Q7_Q7_1,Q7_Q7_2,Q8_Q8_1,Q10
0,juanescai,fffeelipe,1,2,0.000000,1,0,1.0,0.0,5.0,3.0
1,annipi,jdsolanos,1,2,0.000000,1,0,1.0,1.0,5.0,2.0
2,jdsolanos,annipi,1,2,0.000000,1,0,1.0,0.0,4.0,2.0
3,jdsolanos,jcneivaa,1,2,0.000000,1,0,0.0,0.0,4.0,2.0
4,katherinsb,juanescai,1,2,0.000000,1,0,1.0,2.0,5.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...
618,lacardenasv,jorge52an,4,5,0.931937,4,3,4.0,4.0,5.0,2.0
619,NicolasPrr,capinzor,4,5,0.964725,4,3,0.0,0.0,2.0,2.0
620,juligarji,dduartec,4,5,0.969512,4,3,1.0,5.0,4.0,1.0
621,capinzor,juligarji,4,5,0.970410,4,3,4.0,4.0,5.0,3.0
622,jumcorredorro,mballeng91,4,5,0.985294,4,3,2.0,6.0,6.0,2.0

In [7]:
commits = pd.read_csv("commits.csv")
commits

,Unnamed: 0,index,Student,Group,user-requirement-phase5,infovis-phase5,novelty-phase5,total-phase5,tech-phase5,tech-phase4,...,files,additions,deletions,email_name,email_y,hack_id,dates,dates.1,phase,count
0,0,0,fffeelipe,0.0,20.0,29.17,50.0,199.17,100.0,100.0,...,6.0,168.0,78.0,lfepiar,lfepiar@unal.edu.co,0.0,23/04/2017,23/04/2017,5.0,1
1,1,3,fffeelipe,0.0,20.0,29.17,50.0,199.17,100.0,100.0,...,5.0,281.0,295.0,lfepiar,lfepiar@unal.edu.co,0.0,13/04/2017,13/04/2017,4.0,3
2,2,4,fffeelipe,0.0,20.0,29.17,50.0,199.17,100.0,100.0,...,6.0,324.0,80.0,lfepiar,lfepiar@unal.edu.co,0.0,11/04/2017,11/04/2017,3.0,1
3,3,5,fffeelipe,0.0,20.0,29.17,50.0,199.17,100.0,100.0,...,5.0,108.0,1339.0,lfepiar,lfepiar@unal.edu.co,0.0,05/04/2017,05/04/2017,2.0,1
4,4,7,fffeelipe,0.0,20.0,29.17,50.0,199.17,100.0,100.0,...,5.0,382.0,2.0,lfepiar,lfepiar@unal.edu.co,0.0,30/03/2017,30/03/2017,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,535,1508,jumcorredorro,3.0,100.0,62.50,75.0,325.00,87.5,87.5,...,5.0,578.0,34.0,jumcorredorro,jumcorredorro@unal.edu.co,3.0,23/04/2017,23/04/2017,5.0,1
536,536,1509,jumcorredorro,3.0,100.0,62.50,75.0,325.00,87.5,87.5,...,3.0,266.0,12.0,jumcorredorro,jumcorredorro@unal.edu.co,3.0,17/04/2017,17/04/2017,4.0,1
537,537,1512,jumcorredorro,3.0,100.0,62.50,75.0,325.00,87.5,87.5,...,15.0,469.0,202.0,jumcorredorro,jumcorredorro@unal.edu.co,3.0,11/04/2017,11/04/2017,3.0,3
538,538,1514,jumcorredorro,3.0,100.0,62.50,75.0,325.00,87.5,87.5,...,10.0,316.0,32.0,jumcorredorro,jumcorredorro@unal.edu.co,3.0,02/04/2017,02/04/2017,2.0,2
539,539,1518,jumcorredorro,3.0,100.0,62.50,75.0,325.00,87.5,87.5,...,12.0,245.0,2.0,jumcorredorro,jumcorredorro@unal.edu.co,3.0,30/03/2017,30/03/2017,1.0,4

In [8]:
end = pd.merge(final, commits[['Student', 'count', 'phase']], how='left', left_on=['user2', 'user2_phase'], right_on =['Student', 'phase'] )
end['count'] = end['count'].fillna(0)
end = end.drop(['Student', 'phase'], axis=1)
end

,user1,user2,user1_phase,user2_phase,similarity,stage,group,Q7_Q7_1,Q7_Q7_2,Q8_Q8_1,Q10,count
0,juanescai,fffeelipe,1,2,0.000000,1,0,1.0,0.0,5.0,3.0,1.0
1,annipi,jdsolanos,1,2,0.000000,1,0,1.0,1.0,5.0,2.0,0.0
2,jdsolanos,annipi,1,2,0.000000,1,0,1.0,0.0,4.0,2.0,0.0
3,jdsolanos,jcneivaa,1,2,0.000000,1,0,0.0,0.0,4.0,2.0,0.0
4,katherinsb,juanescai,1,2,0.000000,1,0,1.0,2.0,5.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
606,lacardenasv,jorge52an,4,5,0.931937,4,3,4.0,4.0,5.0,2.0,12.0
607,NicolasPrr,capinzor,4,5,0.964725,4,3,0.0,0.0,2.0,2.0,6.0
608,juligarji,dduartec,4,5,0.969512,4,3,1.0,5.0,4.0,1.0,1.0
609,capinzor,juligarji,4,5,0.970410,4,3,4.0,4.0,5.0,3.0,2.0
610,jumcorredorro,mballeng91,4,5,0.985294,4,3,2.0,6.0,6.0,2.0,1.0

In [9]:
improve_scores['stage'] = improve_scores['stage'] - 1
improve_scores

,improve-ur,improve-vis,improve-total,improve-novel,improve-tech,Group,Student,Q7_Q7_1,Q7_Q7_2,Q8_Q8_1,Q10,stage
0,40.0,8.33,73.33,0.00,25.0,0.0,fffeelipe,1.0,0.0,5.0,3.0,1
1,20.0,37.50,132.50,75.00,0.0,0.0,mnguzmanc,2.0,1.0,3.0,2.0,1
2,20.0,33.33,90.83,25.00,12.5,0.0,jmcuestasb,1.0,3.0,4.0,2.0,1
3,0.0,0.00,12.50,0.00,12.5,0.0,katherinsb,1.0,2.0,4.0,2.0,1
4,20.0,29.17,111.67,0.00,62.5,0.0,jjrodriguezn,2.0,2.0,3.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
654,100.0,50.00,240.00,65.00,25.0,3.0,NicolasPrr,3.0,4.0,3.0,2.0,4
655,20.0,4.17,20.00,-4.17,0.0,3.0,jumcorredorro,1.0,1.0,5.0,2.0,4
656,0.0,0.00,0.00,0.00,0.0,3.0,feartheGru,2.0,2.0,5.0,2.0,4
657,0.0,0.00,0.00,0.00,0.0,3.0,Danielsv9207,1.0,1.0,1.0,3.0,4
658,0.0,0.00,0.00,0.00,0.0,3.0,JhonEmmanuelTorres,5.0,4.0,5.0,2.0,4

In [10]:
scores_novelty = pd.merge(end, improve_scores[['Student', 'stage', 'improve-ur', 'improve-vis', 'improve-total', 'improve-novel', 'improve-tech']], how='left', left_on=['user2', 'stage'], right_on =['Student', 'stage'] )
scores_novelty['count'] = scores_novelty['count'].fillna(0)
scores_novelty = scores_novelty.drop(['Student'], axis=1)
scores_novelty

,user1,user2,user1_phase,user2_phase,similarity,stage,group,Q7_Q7_1,Q7_Q7_2,Q8_Q8_1,Q10,count,improve-ur,improve-vis,improve-total,improve-novel,improve-tech
0,juanescai,fffeelipe,1,2,0.000000,1,0,1.0,0.0,5.0,3.0,1.0,40.0,8.33,73.33,0.00,25.0
1,annipi,jdsolanos,1,2,0.000000,1,0,1.0,1.0,5.0,2.0,0.0,0.0,0.00,-50.00,0.00,-50.0
2,jdsolanos,annipi,1,2,0.000000,1,0,1.0,0.0,4.0,2.0,0.0,0.0,0.00,12.50,0.00,12.5
3,jdsolanos,jcneivaa,1,2,0.000000,1,0,0.0,0.0,4.0,2.0,0.0,0.0,0.00,12.50,0.00,12.5
4,katherinsb,juanescai,1,2,0.000000,1,0,1.0,2.0,5.0,2.0,1.0,0.0,0.00,-50.00,-37.50,-12.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
614,lacardenasv,jorge52an,4,5,0.931937,4,3,4.0,4.0,5.0,2.0,12.0,40.0,16.67,66.67,-15.00,25.0
615,NicolasPrr,capinzor,4,5,0.964725,4,3,0.0,0.0,2.0,2.0,6.0,0.0,0.00,8.33,-4.17,12.5
616,juligarji,dduartec,4,5,0.969512,4,3,1.0,5.0,4.0,1.0,1.0,80.0,83.33,258.33,95.00,0.0
617,capinzor,juligarji,4,5,0.970410,4,3,4.0,4.0,5.0,3.0,2.0,0.0,4.17,-3.33,5.00,-12.5
618,jumcorredorro,mballeng91,4,5,0.985294,4,3,2.0,6.0,6.0,2.0,1.0,0.0,0.00,0.00,0.00,0.0

In [11]:
scores_novelty.to_csv("scores_novelty.csv")

In [12]:
# store survey dataframe to be used elsewhere

%store survey
%store commits

Stored 'survey' (DataFrame)
Stored 'commits' (DataFrame)

In [13]:
scores_novelty['improve-total'].max()

314.17