In [1]:
%store -r overall_survey

In [2]:
phase5 = overall_survey[['user-requirement-phase5', 'infovis-phase5', 'total-phase5', 'novelty-phase5', 'tech-phase5','Group', 'Student', 'Q7_Q7_1', 'Q7_Q7_2', 'Q8_Q8_1', 'Q10']]
phase5['phase'] = 5
phase5 = phase5.rename(columns={'user-requirement-phase5': 'user-requirement', 'infovis-phase5': 'infovis', 
                              'total-phase5': 'total', 'novelty-phase5': 'novelty', 'tech-phase5': 'tech' })
phase5.dropna()

/var/folders/gf/pvtbdsj96cz1tv7vmn1gq7j40000gn/T/ipykernel_31365/819671983.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  phase5['phase'] = 5

,user-requirement,infovis,total,novelty,tech,Group,Student,Q7_Q7_1,Q7_Q7_2,Q8_Q8_1,Q10,phase
0,20.0,29.17,199.17,50.00,100.0,0.0,fffeelipe,1.0,0.0,5.0,3.0,5
1,60.0,75.00,290.00,67.50,87.5,0.0,mnguzmanc,2.0,1.0,3.0,2.0,5
2,100.0,54.17,254.17,25.00,75.0,0.0,jmcuestasb,1.0,3.0,4.0,2.0,5
3,20.0,37.50,136.67,16.67,62.5,0.0,katherinsb,1.0,2.0,4.0,2.0,5
4,60.0,58.33,255.83,87.50,50.0,0.0,jjrodriguezn,2.0,2.0,3.0,1.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...
159,100.0,83.33,360.83,90.00,87.5,3.0,NicolasPrr,3.0,4.0,3.0,2.0,5
160,100.0,62.50,325.00,75.00,87.5,3.0,jumcorredorro,1.0,1.0,5.0,2.0,5
161,0.0,0.00,0.00,0.00,0.0,3.0,feartheGru,2.0,2.0,5.0,2.0,5
162,0.0,0.00,0.00,0.00,0.0,3.0,Danielsv9207,1.0,1.0,1.0,3.0,5
163,0.0,0.00,0.00,0.00,0.0,3.0,JhonEmmanuelTorres,5.0,4.0,5.0,2.0,5

In [3]:
phase4 = overall_survey[['user-requirement-phase4', 'infovis-phase4', 'total-phase4', 'novelty-phase4', 'tech-phase4','Group', 'Student', 'Q7_Q7_1', 'Q7_Q7_2', 'Q8_Q8_1', 'Q10']]
phase4['phase'] = 4
phase4 = phase4.rename(columns={'user-requirement-phase4': 'user-requirement', 'infovis-phase4': 'infovis', 
                              'total-phase4': 'total', 'novelty-phase4': 'novelty', 'tech-phase4': 'tech' })
phase4.dropna()

/var/folders/gf/pvtbdsj96cz1tv7vmn1gq7j40000gn/T/ipykernel_31365/3103725194.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  phase4['phase'] = 4

,user-requirement,infovis,total,novelty,tech,Group,Student,Q7_Q7_1,Q7_Q7_2,Q8_Q8_1,Q10,phase
0,20.0,29.17,192.92,43.75,100.0,0.0,fffeelipe,1.0,0.0,5.0,3.0,4
1,20.0,37.50,245.00,100.00,87.5,0.0,mnguzmanc,2.0,1.0,3.0,2.0,4
2,100.0,58.33,220.83,0.00,62.5,0.0,jmcuestasb,1.0,3.0,4.0,2.0,4
3,20.0,45.83,128.33,25.00,37.5,0.0,katherinsb,1.0,2.0,4.0,2.0,4
4,40.0,54.17,131.67,0.00,37.5,0.0,jjrodriguezn,2.0,2.0,3.0,1.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...
159,0.0,33.33,120.83,25.00,62.5,3.0,NicolasPrr,3.0,4.0,3.0,2.0,4
160,80.0,58.33,305.00,79.17,87.5,3.0,jumcorredorro,1.0,1.0,5.0,2.0,4
161,0.0,0.00,0.00,0.00,0.0,3.0,feartheGru,2.0,2.0,5.0,2.0,4
162,0.0,0.00,0.00,0.00,0.0,3.0,Danielsv9207,1.0,1.0,1.0,3.0,4
163,0.0,0.00,0.00,0.00,0.0,3.0,JhonEmmanuelTorres,5.0,4.0,5.0,2.0,4

In [4]:
phase3 = overall_survey[['user-requirement-phase3', 'infovis-phase3', 'total-phase3', 'novelty-phase3', 'tech-phase3','Group', 'Student', 'Q7_Q7_1', 'Q7_Q7_2', 'Q8_Q8_1', 'Q10']]
phase3['phase'] = 3
phase3 = phase3.rename(columns={'user-requirement-phase3': 'user-requirement', 'infovis-phase3': 'infovis', 
                              'total-phase3': 'total', 'novelty-phase3': 'novelty', 'tech-phase3': 'tech' })
phase3.dropna()

/var/folders/gf/pvtbdsj96cz1tv7vmn1gq7j40000gn/T/ipykernel_31365/4140580897.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  phase3['phase'] = 3

,user-requirement,infovis,total,novelty,tech,Group,Student,Q7_Q7_1,Q7_Q7_2,Q8_Q8_1,Q10,phase
0,60.0,37.50,172.50,0.0,75.0,0.0,fffeelipe,1.0,0.0,5.0,3.0,3
1,20.0,41.67,236.67,75.0,100.0,0.0,mnguzmanc,2.0,1.0,3.0,2.0,3
2,20.0,50.00,132.50,0.0,62.5,0.0,jmcuestasb,1.0,3.0,4.0,2.0,3
3,0.0,0.00,0.00,0.0,0.0,0.0,katherinsb,1.0,2.0,4.0,2.0,3
4,20.0,45.83,103.33,0.0,37.5,0.0,jjrodriguezn,2.0,2.0,3.0,1.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...
159,0.0,33.33,108.33,25.0,50.0,3.0,NicolasPrr,3.0,4.0,3.0,2.0,3
160,80.0,75.00,330.00,87.5,87.5,3.0,jumcorredorro,1.0,1.0,5.0,2.0,3
161,0.0,0.00,0.00,0.0,0.0,3.0,feartheGru,2.0,2.0,5.0,2.0,3
162,0.0,0.00,0.00,0.0,0.0,3.0,Danielsv9207,1.0,1.0,1.0,3.0,3
163,0.0,0.00,0.00,0.0,0.0,3.0,JhonEmmanuelTorres,5.0,4.0,5.0,2.0,3

In [5]:
phase2 = overall_survey[['user-requirement-phase2', 'infovis-phase2', 'total-phase2', 'novelty-phase2', 'tech-phase2','Group', 'Student', 'Q7_Q7_1', 'Q7_Q7_2', 'Q8_Q8_1', 'Q10']]
phase2['phase'] = 2
phase2 = phase2.rename(columns={'user-requirement-phase2': 'user-requirement', 'infovis-phase2': 'infovis', 
                              'total-phase2': 'total', 'novelty-phase2': 'novelty', 'tech-phase2': 'tech' })
phase2.dropna()

/var/folders/gf/pvtbdsj96cz1tv7vmn1gq7j40000gn/T/ipykernel_31365/4177867414.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  phase2['phase'] = 2

,user-requirement,infovis,total,novelty,tech,Group,Student,Q7_Q7_1,Q7_Q7_2,Q8_Q8_1,Q10,phase
0,60.0,37.50,172.50,0.0,75.0,0.0,fffeelipe,1.0,0.0,5.0,3.0,2
1,20.0,37.50,220.00,75.0,87.5,0.0,mnguzmanc,2.0,1.0,3.0,2.0,2
2,20.0,33.33,140.83,25.0,62.5,0.0,jmcuestasb,1.0,3.0,4.0,2.0,2
3,0.0,0.00,12.50,0.0,12.5,0.0,katherinsb,1.0,2.0,4.0,2.0,2
4,20.0,29.17,111.67,0.0,62.5,0.0,jjrodriguezn,2.0,2.0,3.0,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...
159,0.0,25.00,100.00,25.0,50.0,3.0,NicolasPrr,3.0,4.0,3.0,2.0,2
160,80.0,54.17,309.17,87.5,87.5,3.0,jumcorredorro,1.0,1.0,5.0,2.0,2
161,0.0,0.00,12.50,0.0,12.5,3.0,feartheGru,2.0,2.0,5.0,2.0,2
162,0.0,0.00,12.50,0.0,12.5,3.0,Danielsv9207,1.0,1.0,1.0,3.0,2
163,0.0,0.00,12.50,0.0,12.5,3.0,JhonEmmanuelTorres,5.0,4.0,5.0,2.0,2

In [6]:
phase1 = overall_survey[['user-requirement-phase1', 'infovis-phase1', 'total-phase1', 'novelty-phase1', 'tech-phase1','Group', 'Student', 'Q7_Q7_1', 'Q7_Q7_2', 'Q8_Q8_1', 'Q10']]
phase1['phase'] = 1
phase1 = phase1.rename(columns={'user-requirement-phase1': 'user-requirement', 'infovis-phase1': 'infovis', 
                              'total-phase1': 'total', 'novelty-phase1': 'novelty', 'tech-phase1': 'tech' })
phase1.dropna()

/var/folders/gf/pvtbdsj96cz1tv7vmn1gq7j40000gn/T/ipykernel_31365/1614142466.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  phase1['phase'] = 1

,user-requirement,infovis,total,novelty,tech,Group,Student,Q7_Q7_1,Q7_Q7_2,Q8_Q8_1,Q10,phase
0,20.0,29.17,99.17,0.0,50.0,0.0,fffeelipe,1.0,0.0,5.0,3.0,1
1,0.0,0.00,87.50,0.0,87.5,0.0,mnguzmanc,2.0,1.0,3.0,2.0,1
2,0.0,0.00,50.00,0.0,50.0,0.0,jmcuestasb,1.0,3.0,4.0,2.0,1
3,0.0,0.00,0.00,0.0,0.0,0.0,katherinsb,1.0,2.0,4.0,2.0,1
4,0.0,0.00,0.00,0.0,0.0,0.0,jjrodriguezn,2.0,2.0,3.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
159,0.0,25.00,112.50,25.0,62.5,3.0,NicolasPrr,3.0,4.0,3.0,2.0,1
160,40.0,33.33,185.83,50.0,62.5,3.0,jumcorredorro,1.0,1.0,5.0,2.0,1
161,0.0,0.00,12.50,0.0,12.5,3.0,feartheGru,2.0,2.0,5.0,2.0,1
162,0.0,0.00,50.00,0.0,50.0,3.0,Danielsv9207,1.0,1.0,1.0,3.0,1
163,0.0,0.00,0.00,0.0,0.0,3.0,JhonEmmanuelTorres,5.0,4.0,5.0,2.0,1

In [7]:
overall_scores = phase1.append([phase2, phase3, phase4, phase5], ignore_index = True)
overall_scores = overall_scores[~overall_scores['Group'].isna()]
overall_scores

,user-requirement,infovis,total,novelty,tech,Group,Student,Q7_Q7_1,Q7_Q7_2,Q8_Q8_1,Q10,phase
0,20.0,29.17,99.17,0.0,50.0,0.0,fffeelipe,1.0,0.0,5.0,3.0,1
1,0.0,0.00,87.50,0.0,87.5,0.0,mnguzmanc,2.0,1.0,3.0,2.0,1
2,0.0,0.00,50.00,0.0,50.0,0.0,jmcuestasb,1.0,3.0,4.0,2.0,1
3,0.0,0.00,0.00,0.0,0.0,0.0,katherinsb,1.0,2.0,4.0,2.0,1
4,0.0,0.00,0.00,0.0,0.0,0.0,jjrodriguezn,2.0,2.0,3.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
819,100.0,83.33,360.83,90.0,87.5,3.0,NicolasPrr,3.0,4.0,3.0,2.0,5
820,100.0,62.50,325.00,75.0,87.5,3.0,jumcorredorro,1.0,1.0,5.0,2.0,5
821,0.0,0.00,0.00,0.0,0.0,3.0,feartheGru,2.0,2.0,5.0,2.0,5
822,0.0,0.00,0.00,0.0,0.0,3.0,Danielsv9207,1.0,1.0,1.0,3.0,5
823,0.0,0.00,0.00,0.0,0.0,3.0,JhonEmmanuelTorres,5.0,4.0,5.0,2.0,5

In [8]:
overall_scores.to_csv('overall_scores.csv')