In [1]:
# retrieve variables from rareness notebook

%store -r group0_phase1_match10
%store -r group0_phase2_match10
%store -r group0_phase3_match10
%store -r group0_phase4_match10
%store -r group0_phase5_match10

%store -r group1_phase1_match10
%store -r group1_phase2_match10
%store -r group1_phase3_match10
%store -r group1_phase4_match10
%store -r group1_phase5_match10

%store -r group2_phase1_match10
%store -r group2_phase2_match10
%store -r group2_phase3_match10
%store -r group2_phase4_match10
%store -r group2_phase5_match10

%store -r group3_phase1_match10
%store -r group3_phase2_match10
%store -r group3_phase3_match10
%store -r group3_phase4_match10
%store -r group3_phase5_match10

# store rareness top 10% to be used in correlation charts 

%store -r group0_phase1_match5
%store -r group0_phase2_match5
%store -r group0_phase3_match5
%store -r group0_phase4_match5
%store -r group0_phase5_match5

%store -r group1_phase1_match5
%store -r group1_phase2_match5
%store -r group1_phase3_match5
%store -r group1_phase4_match5
%store -r group1_phase5_match5

%store -r group2_phase1_match5
%store -r group2_phase2_match5
%store -r group2_phase3_match5
%store -r group2_phase4_match5
%store -r group2_phase5_match5

%store -r group3_phase1_match5
%store -r group3_phase2_match5
%store -r group3_phase3_match5
%store -r group3_phase4_match5
%store -r group3_phase5_match5

# retrive  variables from relational novelty notebook
%store -r survey
%store -r commits

import pandas as pd

In [2]:
group0_phase1_match10['phase'] = 1
group0_phase2_match10['phase'] = 2
group0_phase3_match10['phase'] = 3
group0_phase4_match10['phase'] = 4
group0_phase5_match10['phase'] = 5

group1_phase1_match10['phase'] = 1
group1_phase2_match10['phase'] = 2
group1_phase3_match10['phase'] = 3
group1_phase4_match10['phase'] = 4
group1_phase5_match10['phase'] = 5

group2_phase1_match10['phase'] = 1
group2_phase2_match10['phase'] = 2
group2_phase3_match10['phase'] = 3
group2_phase4_match10['phase'] = 4
group2_phase5_match10['phase'] = 5

group3_phase1_match10['phase'] = 1
group3_phase2_match10['phase'] = 2
group3_phase3_match10['phase'] = 3
group3_phase4_match10['phase'] = 4
group3_phase5_match10['phase'] = 5

group0_phase1_match5['phase'] = 1
group0_phase2_match5['phase'] = 2
group0_phase3_match5['phase'] = 3
group0_phase4_match5['phase'] = 4
group0_phase5_match5['phase'] = 5

group1_phase1_match5['phase'] = 1
group1_phase2_match5['phase'] = 2
group1_phase3_match5['phase'] = 3
group1_phase4_match5['phase'] = 4
group1_phase5_match5['phase'] = 5

group2_phase1_match5['phase'] = 1
group2_phase2_match5['phase'] = 2
group2_phase3_match5['phase'] = 3
group2_phase4_match5['phase'] = 4
group2_phase5_match5['phase'] = 5

group3_phase1_match5['phase'] = 1
group3_phase2_match5['phase'] = 2
group3_phase3_match5['phase'] = 3
group3_phase4_match5['phase'] = 4
group3_phase5_match5['phase'] = 5

In [3]:
rare = pd.concat([group0_phase1_match10, group0_phase2_match10, group0_phase3_match10, 
                         group0_phase4_match10, group0_phase5_match10, 
                         group1_phase1_match10, group1_phase2_match10, group1_phase3_match10, group1_phase4_match10,
                         group1_phase5_match10, group2_phase1_match10, group2_phase2_match10, group2_phase3_match10,
                         group2_phase4_match10, group2_phase5_match10, group3_phase1_match10, group3_phase2_match10,
                         group3_phase3_match10, group3_phase4_match10, group3_phase5_match10], ignore_index = True)
rare

     len_match  Group        Student  phase
0          0.0    0.0      mnguzmanc      1
1          0.0    0.0          DglyP      1
2          0.0    0.0    Judgarciani      1
3          0.0    0.0      sacastroc      1
4          0.0    0.0      pcberriop      1
..         ...    ...            ...    ...
663       17.0    3.0        DavidQP      5
664       10.0    3.0    afceballosr      5
665        0.0    3.0      lizzyt10h      5
666       28.0    3.0     NicolasPrr      5
667        9.0    3.0  jumcorredorro      5

[668 rows x 4 columns]

In [4]:
rare5 = pd.concat([group0_phase1_match5, group0_phase2_match5, group0_phase3_match5, 
                         group0_phase4_match5, group0_phase5_match5, 
                         group1_phase1_match5, group1_phase2_match5, group1_phase3_match5, group1_phase4_match5,
                         group1_phase5_match5, group2_phase1_match5, group2_phase2_match5, group2_phase3_match5,
                         group2_phase4_match5, group2_phase5_match5, group3_phase1_match5, group3_phase2_match5,
                         group3_phase3_match5, group3_phase4_match5, group3_phase5_match5], ignore_index = True)
rare5

     len_match5  Group        Student  phase
0           0.0    0.0      mnguzmanc      1
1           0.0    0.0          DglyP      1
2           0.0    0.0    Judgarciani      1
3           0.0    0.0      sacastroc      1
4           0.0    0.0      pcberriop      1
..          ...    ...            ...    ...
663         1.0    3.0        DavidQP      5
664         3.0    3.0    afceballosr      5
665         0.0    3.0      lizzyt10h      5
666         2.0    3.0     NicolasPrr      5
667         5.0    3.0  jumcorredorro      5

[668 rows x 4 columns]

In [5]:
final5 = pd.merge(rare5, survey, how='left', left_on='Student', right_on ='user2')
final5 = final5.drop_duplicates(subset=['Student', 'Group', 'phase'])
final5

,len_match5,Group,Student,phase,user2,Q7_Q7_1,Q7_Q7_2,Q8_Q8_1,Q10
0,0.0,0.0,mnguzmanc,1,mnguzmanc,2.0,1.0,3.0,2.0
1,0.0,0.0,DglyP,1,DglyP,1.0,3.0,4.0,3.0
2,0.0,0.0,Judgarciani,1,Judgarciani,3.0,3.0,4.0,2.0
3,0.0,0.0,sacastroc,1,sacastroc,1.0,2.0,4.0,2.0
4,0.0,0.0,pcberriop,1,pcberriop,0.0,1.0,3.0,2.0
...,...,...,...,...,...,...,...,...,...
668,1.0,3.0,DavidQP,5,DavidQP,2.0,3.0,4.0,3.0
669,3.0,3.0,afceballosr,5,afceballosr,1.0,3.0,5.0,2.0
670,0.0,3.0,lizzyt10h,5,lizzyt10h,2.0,1.0,5.0,2.0
671,2.0,3.0,NicolasPrr,5,NicolasPrr,3.0,4.0,3.0,2.0
672,5.0,3.0,jumcorredorro,5,jumcorredorro,1.0,1.0,5.0,2.0

In [6]:
final = pd.merge(rare, survey, how='left', left_on='Student', right_on ='user2')
final

,len_match,Group,Student,phase,user2,Q7_Q7_1,Q7_Q7_2,Q8_Q8_1,Q10
0,0.0,0.0,mnguzmanc,1,mnguzmanc,2.0,1.0,3.0,2.0
1,0.0,0.0,DglyP,1,DglyP,1.0,3.0,4.0,3.0
2,0.0,0.0,Judgarciani,1,Judgarciani,3.0,3.0,4.0,2.0
3,0.0,0.0,sacastroc,1,sacastroc,1.0,2.0,4.0,2.0
4,0.0,0.0,pcberriop,1,pcberriop,0.0,1.0,3.0,2.0
...,...,...,...,...,...,...,...,...,...
668,17.0,3.0,DavidQP,5,DavidQP,2.0,3.0,4.0,3.0
669,10.0,3.0,afceballosr,5,afceballosr,1.0,3.0,5.0,2.0
670,0.0,3.0,lizzyt10h,5,lizzyt10h,2.0,1.0,5.0,2.0
671,28.0,3.0,NicolasPrr,5,NicolasPrr,3.0,4.0,3.0,2.0
672,9.0,3.0,jumcorredorro,5,jumcorredorro,1.0,1.0,5.0,2.0

In [7]:
commits

,Unnamed: 0,index,Student,Group,user-requirement-phase5,infovis-phase5,novelty-phase5,total-phase5,tech-phase5,tech-phase4,...,files,additions,deletions,email_name,email_y,hack_id,dates,dates.1,phase,count
0,0,0,fffeelipe,0.0,20.0,29.17,50.0,199.17,100.0,100.0,...,6.0,168.0,78.0,lfepiar,lfepiar@unal.edu.co,0.0,23/04/2017,23/04/2017,5.0,1
1,1,3,fffeelipe,0.0,20.0,29.17,50.0,199.17,100.0,100.0,...,5.0,281.0,295.0,lfepiar,lfepiar@unal.edu.co,0.0,13/04/2017,13/04/2017,4.0,3
2,2,4,fffeelipe,0.0,20.0,29.17,50.0,199.17,100.0,100.0,...,6.0,324.0,80.0,lfepiar,lfepiar@unal.edu.co,0.0,11/04/2017,11/04/2017,3.0,1
3,3,5,fffeelipe,0.0,20.0,29.17,50.0,199.17,100.0,100.0,...,5.0,108.0,1339.0,lfepiar,lfepiar@unal.edu.co,0.0,05/04/2017,05/04/2017,2.0,1
4,4,7,fffeelipe,0.0,20.0,29.17,50.0,199.17,100.0,100.0,...,5.0,382.0,2.0,lfepiar,lfepiar@unal.edu.co,0.0,30/03/2017,30/03/2017,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,535,1508,jumcorredorro,3.0,100.0,62.50,75.0,325.00,87.5,87.5,...,5.0,578.0,34.0,jumcorredorro,jumcorredorro@unal.edu.co,3.0,23/04/2017,23/04/2017,5.0,1
536,536,1509,jumcorredorro,3.0,100.0,62.50,75.0,325.00,87.5,87.5,...,3.0,266.0,12.0,jumcorredorro,jumcorredorro@unal.edu.co,3.0,17/04/2017,17/04/2017,4.0,1
537,537,1512,jumcorredorro,3.0,100.0,62.50,75.0,325.00,87.5,87.5,...,15.0,469.0,202.0,jumcorredorro,jumcorredorro@unal.edu.co,3.0,11/04/2017,11/04/2017,3.0,3
538,538,1514,jumcorredorro,3.0,100.0,62.50,75.0,325.00,87.5,87.5,...,10.0,316.0,32.0,jumcorredorro,jumcorredorro@unal.edu.co,3.0,02/04/2017,02/04/2017,2.0,2
539,539,1518,jumcorredorro,3.0,100.0,62.50,75.0,325.00,87.5,87.5,...,12.0,245.0,2.0,jumcorredorro,jumcorredorro@unal.edu.co,3.0,30/03/2017,30/03/2017,1.0,4

In [8]:
end = pd.merge(final, commits[['Student', 'count', 'phase']], how='left', left_on=['Student', 'phase'], right_on =['Student', 'phase'])
end['count'] = end['count'].fillna(0)
end = end.drop(['Student'], axis=1)
end

,len_match,Group,phase,user2,Q7_Q7_1,Q7_Q7_2,Q8_Q8_1,Q10,count
0,0.0,0.0,1,mnguzmanc,2.0,1.0,3.0,2.0,0.0
1,0.0,0.0,1,DglyP,1.0,3.0,4.0,3.0,3.0
2,0.0,0.0,1,Judgarciani,3.0,3.0,4.0,2.0,3.0
3,0.0,0.0,1,sacastroc,1.0,2.0,4.0,2.0,3.0
4,0.0,0.0,1,pcberriop,0.0,1.0,3.0,2.0,3.0
...,...,...,...,...,...,...,...,...,...
668,17.0,3.0,5,DavidQP,2.0,3.0,4.0,3.0,1.0
669,10.0,3.0,5,afceballosr,1.0,3.0,5.0,2.0,1.0
670,0.0,3.0,5,lizzyt10h,2.0,1.0,5.0,2.0,5.0
671,28.0,3.0,5,NicolasPrr,3.0,4.0,3.0,2.0,1.0
672,9.0,3.0,5,jumcorredorro,1.0,1.0,5.0,2.0,1.0

In [9]:
end.to_csv('rare.csv')

In [10]:
end5 = pd.merge(final5, commits[['Student', 'count', 'phase']], how='left', left_on=['Student', 'phase'], right_on =['Student', 'phase'])
end5['count'] = end5['count'].fillna(0)
end5 = end5.drop_duplicates(subset=['Student', 'Group', 'phase'])
end5 = end5.drop(['Student'], axis=1)
end5

,len_match5,Group,phase,user2,Q7_Q7_1,Q7_Q7_2,Q8_Q8_1,Q10,count
0,0.0,0.0,1,mnguzmanc,2.0,1.0,3.0,2.0,0.0
1,0.0,0.0,1,DglyP,1.0,3.0,4.0,3.0,3.0
2,0.0,0.0,1,Judgarciani,3.0,3.0,4.0,2.0,3.0
3,0.0,0.0,1,sacastroc,1.0,2.0,4.0,2.0,3.0
4,0.0,0.0,1,pcberriop,0.0,1.0,3.0,2.0,3.0
...,...,...,...,...,...,...,...,...,...
663,1.0,3.0,5,DavidQP,2.0,3.0,4.0,3.0,1.0
664,3.0,3.0,5,afceballosr,1.0,3.0,5.0,2.0,1.0
665,0.0,3.0,5,lizzyt10h,2.0,1.0,5.0,2.0,5.0
666,2.0,3.0,5,NicolasPrr,3.0,4.0,3.0,2.0,1.0
667,5.0,3.0,5,jumcorredorro,1.0,1.0,5.0,2.0,1.0

In [11]:
end5.to_csv('rare5.csv')